@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: #d7dcdd;
  font-family: Verdana, Tahoma, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gm-style iframe + div {
  border: none !important;
}
